* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

.shop-container {

}

.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    padding: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(95,158,160,.9);


}

.popup-container {
    width: 450px;
    margin: 15% auto;
}

.popup-inputs {
    width: 250px;
    margin: auto;
}

.popup-inputs button{
    width: 100px;
    margin:10px 60px 10px;


}

.clock{
    width: 250px;
    font-size: 64px;
    margin: auto;
}
.hour {
    color: green
}

.min {
    color: blue
}

.sec {
    color: red
}

.picture {
    width: 200px;
    height: 200px;
    background-size: contain!important;
}
.products {
    margin: 0 50px;
}

.phone {
    margin: 50px;
}
.cart-container {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid cadetblue;
    background-color: azure;
    margin-bottom: 50px;
}

.cart-id {
    margin-left: 50px;
    padding-top: 40px;
}

.cart {
    position: absolute;
    top: 25px;
    right: 50px;

}